.plugin_oauthpdo_button(@colorBg, @colorFg) {
    font-family: Roboto, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: @colorBg;
    color: @colorFg;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 18px;
}

.plugin_oauthpdo_button_logo(@colorBg, @colorBorder) {
    display: block;
    border-radius: 5px;
    border: 2px solid @colorBorder;
    background-color: @colorBg;
    margin: 0 24px 0 0;
    width: 52px;
    height: 52px;
    background-size: 27px;
    background-position: center;
    background-repeat: no-repeat;
}

.plugin_oauthpdo_group_logo(@colorBg) {
    display: block;
    border-radius: 5px;
    background-color: @colorBg;
    margin: 0 16px 0 0;
    width: 34px;
    height: 34px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

#dw__login {
    .plugin_oauthpdo {
        a {
            margin: 10px;
            text-decoration: none;
        }

        a.plugin_oauthpdo_Facebook {
            .plugin_oauthpdo_button(#4267B2, #FFFFFF);
        }

        a.plugin_oauthpdo_Facebook::before {
            .plugin_oauthpdo_button_logo(none, none);
            background-image: url('images/flogo-HexRBG-Wht-144.png');
            content: '';
        }

        a.plugin_oauthpdo_Auth0 {
            background-image: url(https://cdn.auth0.com/styleguide/1.0.0/img/badge.png);
            padding-left: (20px+24px);
            background-size: 22px 24px;
            .plugin_oauthpdo_button(#d0d2d3, #000000);
        }

        a.plugin_oauthpdo_Google {
            .plugin_oauthpdo_button(#4285F4, #FFFFFF);
        }

        a.plugin_oauthpdo_Google::before {
            .plugin_oauthpdo_button_logo(#FFFFFF, #4285F4);
            background-image: url('images/Google.png');
            content: '';
        }

        a.plugin_oauthpdo_Github {
            .plugin_oauthpdo_button(#666666, #FFFFFF);
        }

        a.plugin_oauthpdo_Github::before {
            .plugin_oauthpdo_button_logo(none, none);
            background-image: url('images/GitHub-Mark-Light-120px-plus.png');
            content: '';
        }

        a.plugin_oauthpdo_Yahoo {
            .plugin_oauthpdo_button(#7B0099, #FFFFFF);
            background-image: url(images/yahoo.png);
            padding-left: (20px+24px);
        }

    }
}

#dw__register {
    .plugin_oauthpdo {
        div.plugin_oauthpdo_link_desc {
            text-align: left;
            margin-bottom: 1em;
        }

        div.plugin_oauthpdo_link_service_group {
            display: flex;
            text-align: left;
            flex-direction: column;
            flex-wrap: nowrap;
            border-radius: 5px;
            border: 1px solid #CCCCCC;
            margin-bottom: 0.75em;
        }
        
        div.plugin_oauthpdo_link_service_group_header {
            border-bottom: 1px dashed #CCCCCC;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
        }
        
        div.plugin_oauthpdo_link_service_group_header_text {
            font-size: 1.2em;
            flex: auto;
        }
        
        div.plugin_oauthpdo_link_service_group_Google::before {
            .plugin_oauthpdo_group_logo(#FFFFFF);
            background-image: url('images/Google.png');
            content: '';
        }
        
        div.plugin_oauthpdo_link_service_group_Github::before {
            .plugin_oauthpdo_group_logo(none);
            background-image: url('images/GitHub-Mark-120px-plus.png');
            content: '';
        }
        
        div.plugin_oauthpdo_link_service_group_Facebook::before {
            .plugin_oauthpdo_group_logo(none);
            background-image: url('images/flogo_RGB_HEX-144.png');
            content: '';
        }
        
        div.plugin_oauthpdo_link_service_container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0.5em;
        }
        
        div.plugin_oauthpdo_link_service_entry {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0 0.5em;
        }
        
        div.plugin_oauthpdo_link_service_email {
            flex: auto;
            margin-right: 0.5em;
        }
        
        .plugin_oauthpdo_remove_link {
            flex: none;
        }
        
        .plugin_oauthpdo_add_link {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0.3em 0.5em;
            border: 1px solid #CCCCCC;
            background: #EEEEEE;
            border-radius: 4px;
        }

        .plugin_oauthpdo_add_link:hover, .plugin_oauthpdo_add_link:focus {
            background: #DDDDDD;
            text-decoration: none;
        }

        .plugin_oauthpdo_add_link_text {
            flex: auto;
            margin-left: 0.5em;
        }
    }
}